*

!.config

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/hypr
!.config/hypr/hyprland.conf
!.config/hypr/hyprlock.conf

!.config/nvim
!.config/nvim/init.lua

!.config/nvim/lua
!.config/nvim/lua/plugins.lua
!.config/nvim/lua/settings.lua

!.config/nvim/lua/config
!.config/nvim/lua/config/tree.lua

!.config/waybar
!.config/waybar/config

!.config/wofi
!.config/wofi/config

!.gitconfig
!.gitignore

!.zshrc

!aup.sh

!README.md
