*

!.config

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/lua
!.config/nvim/lua/config
!.config/nvim/lua/config/lazy.lua
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/tree.lua

!.gitconfig
!.gitignore

!.zshrc

!README.md
