*

!.config

!.config/alacritty
!.config/alacritty/alacritty.toml

!.config/nvim
!.config/nvim/init.lua

!.config/nvim/lua
!.config/nvim/lua/plugins.lua
!.config/nvim/lua/settings.lua

!.config/nvim/lua/config
!.config/nvim/lua/config/completion.lua
!.config/nvim/lua/config/lsp.lua
!.config/nvim/lua/config/telescope.lua
!.config/nvim/lua/config/tree.lua
!.config/nvim/lua/config/treesitter.lua

!.config/clangd
!.config/clangd/config.yaml

!.gitconfig
!.gitignore

!.uup.sh

!.zshrc

!README.md
